:root {
    --dark: #42505e;
    --green: #80bbb6;
    --grey: #e4e8ea;
}

.App {
    text-align: center;
    min-width: 0;
    max-width: 1380px;
    margin: auto;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: CenturyOldStyle;
    src: url(/src/fonts/CenturyOldStyleStd-Regular.otf) format('otf');
}

@font-face {
    font-family: Semibold;
    src: url(/src/fonts/semibold.woff) format('woff');
}

@font-face {
    font-family: Semibold;
    src: url(/src/fonts/domaine-display-condensed-test-semibold-italic.woff)
        format('woff');
    font-style: italic;
}

.header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 7%;
}

.nail-logo {
    width: 350px;
}

.nail-logo img {
    width: 100%;
}

.contact p {
    margin: 0;
    font-family: CenturyOldStyle;
    font-size: 1.45rem;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.main-wrapper {
    padding: 0 7%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.main-wrapper h1 {
    font-family: Semibold;
    font-style: italic;
    font-size: 3.2rem;
    margin: 0;
    padding-bottom: 2rem;
    color: var(--dark);
}

.main-text p {
    font-family: Semibold;
    font-size: 2.1rem;
    text-align: left;
}

.puddle-image {
    width: 100%;
    height: auto;
}

.img-wrapper {
    width: 100%;
}

.group-photo-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.group-photo-wrapper img {
    width: 40%;
}
